<h1>管理者ページ</h1>

<ul>
  <li><p><%= link_to "ユーザー一覧",user_list_path %></p></li>
  <li><p><%= link_to "新規ユーザーの登録",user_new_path %></p></li>
  <li><p><%= link_to "ユーザーの削除",user_deletion_path %></p></li>
  <li><p><%= link_to "メールアドレスの編集",email_change_path %></p></li>
</ul>
