<h1>ユーザー一覧</h1>

<% @users.each do |user|%>
  <p>name : <%= link_to user.name, user_path(user.id) %></p>
<% end %>

<p><%= link_to "ユーザーの追加",user_new_path</p>
<p><%= link_to "ユーザーの削除",user_deletion_path</p>

<p><%= link_to "管理者ページへ",admin_path %></p>